{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!-- <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet"> -->
    
</head>

<body>

    <div id="header">
        <a href="/" class="logo">My Shop</a>
    </div>

    <div id="subheader">
        <div class='cart'>
            {% with total_itens=cart|length %}
              {% if total_itens > 0 %}
                {% trans 'Your cart:' %}
                <a href="{% url 'cart:cart_detail' %}">
                    {% blocktrans with total=cart.get_total_price count itens=total_itens%}
                            {{ itens }} Item, ${{ total }}
                        {% plural %}
                            {{ itens }} Items, ${{ total }}
                    {% endblocktrans %}
                </a>
               {% else %}
                  {% trans 'Your cart is empty' %}

              {% endif %}
            {% endwith %}
        </div>
    </div>
    <div class="content">
        {% block content %} {% endblock content %}
    </div>
</body>

</html>